@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins');


.card-box {
    background: #FAFAFA;
    min-height: 20%;
    position: relative;
    padding: 1% ;
    margin-bottom: 1%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    cursor: pointer; 
}

.card-link a {
    font-family: 'Oswald', sans-serif;
    color: #FF5722;
    font-size: 15px;
}
